
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Reveal Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Reveal - v4.9.1
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

 <!-- navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark menu-bar">
  <div class="container-fluid ms-5">
    <img src="assets/img/logo hehe.png" alt="Bootstrap" width="50" class="me-0 mx-4">
          
              <a class="navbar-brand mx-2" href="#feroution"><b>FERO</b>UTION</a>   
              <span class="navbar-text ms-auto">
              (face problem and beauty solution)
              </span> 

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto  ">
        <li class="nav-item mx-2" >
          <a class="nav-link active text-dark " aria-current="page" href="#howtouse"><b>How To Use</b></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active text-dark" aria-current="page" href="#search"><b>Find Your Product
            </b></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active text-dark" aria-current="page" href="#artikel"><b>Artikel</b></a>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
    </div>
  </div>
 
</nav><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero" class="">
    <div class="container h-100 pt-3 ps-5">
        <div class="row h-100 mt-5" >
          <div class="hero-tag mt-5 me-5 ms-5 d-flex justify-content-between">   
            <div class="col-md-5 mt-4">     
              <h1><b>
                Find Your Face Problem and Solution</b>
              </h1>
              <p class="mt-4">
                <b>Feroution</b> merupakan sebuah inovasi yang dapat mempermudahmu dalam meraih kulit wajah impianmu, dengan hadirnya <b>Feroution</b> maka kalian dapat mendeteksi problem pada wajah anda dan menemukan produk sebagai solusi permasalahan anda 
              </p>
              <div class="text-center">
              <button class="btn btn-secondary mt-4" type="button" data-bs-toggle="modal"  data-bs-target="#modalForm">
                  Try Now!
              </button>
              <a href="#trynow">
                <img src="assets/img/arrowblack.svg" width="50" class="mt-4" >
              </a> 
            </div>
            </div>     
              <div class=" col-md-5">
                <img src="assets/img/selfie1.svg" width="400" height="400" alt="" class="" > 
              </div>
          </div>
        </div>
  
    </div>
  </section>     <!-- End Hero Section -->

  <main id="main">

    
 

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row h-auto mt-2" >
          <div class="hero-tag mt-2 me-5 d-flex justify-content-around">   
            <div class="col-md-5 mt-2 ps-4">     
              <div class="mb-5 ">
              <img src="assets/img/imagehero.svg"  width="400" height="400" >
              </div>
            </div>     
            <div class="col-md-5 mt-5 ps-5">
              <h1 class="mt-5"><b>
                Our services Featured </b>
              </h1>
              <p class="mt-4">
                <b>Feroution</b> menggunakan teknologi berbasis Artificial Intelligence A.I untuk mendeteksi permasalahan yang ada pada wajah dan akan memberikan output berupa rekomendasi produk. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

  <!-- modal -->
  <div class="modal fade" id="modalForm" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please complete the following input</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="https://ausion-vh.herokuapp.com/" enctype="multipart/form-data">       
                  <p>Please choose your skin type:</p>
                  <select name="optradio" class="form-select" aria-label="Default select example">
                    <option value="0">Normal</option>
                    <option value="2">dry</option>
                    <option value="3">Combination</option>
                    <option value="1">Oil</option>
                    <option value="4">Sensitif</option>
                  </select>         

                  <div class="input-group-sm">
                    <label for="alamat">Your age:</label>
                    <input type="text" name="umur" class="form-control" id="alamat" required="">
                  </div>

                    <div class="row">
                    <div class="gambar-place col-lg-4 mt-2">
                      <img src="assets/img/imgscan.jpg" alt="gambar" width="190px" height="190px">
                    </div>
                    <div class="upload-img col-lg-8">
                        <h2>Make sure you follow the guidelines below:</h2>
                        <ul>
                          <li>Hapus makeup dan lepaskan kacamata</li>
                          <li>Pastikan rambut anda tidak menutupi wajah anda</li>
                          <li>Melihat kamera dan jaga ekspresi netral</li>
                          <li>Tetap berada di area terang dan memiliki cahaya natural</li>
                        </ul>
                    </div>
                  </div>
                    <input type="file" accept="image/*" class="form-control" id="photo" name="photo">
                    <div class="text-center">
                    <span class="text-danger"> <b>Note: Gambar anda tidak akan disimpan</b></span>
                     </div>
                     <div class="text-center">
                      <button type="submit" class="btn btn-success">Prediksi</button>
                     </div>
                  </form></div>
                
            </div>
        </div>
    </div>
    <!-- ======= How to use ======= -->
    <section id="howtouse">
      <div class="container" data-aos="fade-up">
        <div class="section-header text-center">
          <h2>How To Use</h2>
         
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div><img src="assets/img/hotuuse-removebg.png" height="550" width="700"></div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-delay="100">
            <div class="ms-4">
            
                   <img src="assets/img/icon buka line.svg" height="50" width="50"  >
          
              <h5>Klik button "Try Now!" pada section diatas</h5>
            </div>
            <div class="ms-4">
        
              <img src="assets/img/horizontal-line.svg" height="50" width="50"  >
              <h5>Masukan informasi yang diperlukan beserta foto pada form yang tersedia</h5>
            </div>
            <div class="ms-4">
              <img src="assets/img/horizontal-line.svg" height="50" width="50"  >
              <h5>Lalu klik "Predict" dan rekomendasi produk serta jenis permasalahan kulit anda akan muncul</h5>
            </div>
            <div class="ms-4">
              <img src="assets/img/horizontal-line.svg" height="50" width="50"  >
              <h5>Kalian juga bisa langsung mencari produk sesuai dengan kriteria yang kalian inginkan pada section di bawah</h5>
              <img src="assets/img/icon tutup line.svg" height="50" width="50"  >
            </div>
           
            <!-- <div><img src="assets/img/htu-removebg.png" width="560" height="560" align="left"></div> -->
        </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Search Product ======= -->
    <section id="Product">
      <div class="container" data-aos="fade-up">
        <div class="section-header text-center">
          <h2>Find Your Product</h2>
          <p >Masukan keluhan pada kulit wajah, jenis kulit anda, umur, serta brand product yang anda inginkan.</p>
          <div class="row">
            <div class="col-12 text-center mt-4 ">
              <h1>
                
              </h1>
            </div>
          </div>
      </div>
      <div class="col-10 mx-auto mt-2">
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/iconform.svg"> Pilih Jenis Kulit
          </button>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" href="#">Normal</a></li>
            <li><a class="dropdown-item" href="#">Berminyak</a></li>
            <li><a class="dropdown-item" href="#">Kering</a></li>
            <li><a class="dropdown-item" href="#">Mix</a></li>
          </ul>
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/iconform.svg"> Pilih Keluhan
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Kulit bopeng</a></li>
            <li><a class="dropdown-item" href="#">Kulit berjerawat</a></li>
            <li><a class="dropdown-item" href="#">Kulit ...</a></li>
          </ul>
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/iconform.svg"> Brand Product (Optional)
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
          <input type="text" placeholder="Masukan Umur" class="form-control" aria-label="Text input with dropdown button">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>   
      </div>
    </section><!-- End Clients Section -->

    

    <!-- ======= Article ======= -->
    <section id="testimonials">
      <div class="container text-center" data-aos="fade-up">
        <div class="section-header">
          <h2>Article</h2>
          <p>Berikut adalah beberapa artikel seputar dunia skincar & perawatan kulih wajah</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
           <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <div class="post-img"><img src="./Ausion - Home Page_files/Rekomendasi-Buku-Beauty-Journal.jpg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">09 Juni 2022</span>
                <span class="post-author"> / Evelyn Ochi</span>
              </div>
              <h3 class="post-title">Rekomendasi Buku Self Motivation yang Ringan dengan Ilustrasi Menyenangkan, Dijamin Enggak Bosan!</h3>
              <a href="https://journal.sociolla.com/lifestyle/buku-self-motivation-yang-didominasi-ilustrasi" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="post-img"><img src="./Ausion - Home Page_files/Rekomendasi-Buku-Beauty-Journal.jpg" class="img-fluid" alt=""></div>
                <div class="meta">
                  <span class="post-date">09 Juni 2022</span>
                  <span class="post-author"> / Evelyn Ochi</span>
                </div>
                <h3 class="post-title">Rekomendasi Buku Self Motivation yang Ringan dengan Ilustrasi Menyenangkan, Dijamin Enggak Bosan!</h3>
                <a href="https://journal.sociolla.com/lifestyle/buku-self-motivation-yang-didominasi-ilustrasi" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              </div> </div> <!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-img"><img src="./Ausion - Home Page_files/861-Jello-skin.jpg.jpeg" class="img-fluid" alt=""></div>
                  <div class="meta">
                    <span class="post-date">8 Juni 2022</span>
                    <span class="post-author"> / Emanuela Lintang</span>
                  </div>
                  <h3 class="post-title">Mendadak Viral di Tiktok, Tren Kecantikan Jello Skin Ternyata Menuai Berbagai Pro dan Kontra</h3>
                  <a href="https://journal.sociolla.com/beauty/jello-skin-tren-kecantikan-baru-di-tiktok" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
              </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="testimonial-img"><img src="./Ausion - Home Page_files/995-Probiotik-Skin-Care-untuk-Skin-Barrier-7.jpg.jpg" class="img-fluid" alt=""></div>
                <div class="meta">
                  <span class="post-date">21 May 2022</span>
                  <span class="post-author"> / Levi Larassaty</span>
                </div>
                <h3 class="post-title">Pertolongan Pertama pada Skin Barrier, Yuk, Cobain 5 Skin Care Probiotik Ini!</h3>
                <a href="https://www.soco.id/post/beauty/628855b1673e0c3b078ff5b3/skin-care-probiotik-untuk-skin-barrier/" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Call To Action Section ======= -->
    <!-- <section id="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row text-center">
          <div class="col-lg-9 mx-auto">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
    
        </div>
      </div>
    </section> -->
    <!-- End Call To Action Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>
        <div class="row" >
          <div class="col-md-3" >
            <div class="card-team" >
              <div class="circle-border mx-auto">
                <img src="assets/img/fotoprofile1.jpg" width="50" height="50" alt="" class="fotoprofile">
              </div>
              <h3>Habib</h3>
            </div>
          </div>
          <div class="col-md-3" >
            <div class="card-team ">
              <div class="circle-border mx-auto">
                <img src="assets/img/fotoprofile1.jpg" width="50" height="50" alt="" class="fotoprofile">
              </div>
              <h3>Sievin</h3>
            </div>
          </div>
          <div class="col-md-3" >
            <div class="card-team ">
              <div class="circle-border mx-auto">
                <img src="assets/img/fotoprofile1.jpg" width="50" height="50" alt="" class="fotoprofile">
              </div>
              <h3>putri</h3>
            </div>
          </div>
          <div class="col-md-3" >
            <div class="card-team ">
              <div class="circle-border mx-auto">
                <img src="assets/img/fotoprofile1.jpg" width="50" height="50" alt="" class="fotoprofile">
              </div>
              <h3>alfira.</h3>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>